@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-family: "Source Code Pro", monospace;
  }



#body {
  background-color: #2d2e32;
}

.container{
    width: 100%;
    height: fit-content;
}


/* ============NABAR============ */

.nav {
  height: 60px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d2e3273;
  box-shadow: 0 0 7px 5px #00000040;
  position: relative;
  border: none;
}

.nav #nav-check {
  display: none;
}

.nav-tittle {
  display: flex;
  padding-left: 5%;
}

.first-name {
  padding: 0 7.5px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 24px;
}

.last-name {
  font-family: "Raleway", sans-serif;
  color: #00E5FF;
  font-weight: 600;
  font-size: 24px;
}

.nav  .nav-links {
  width: 20%;
  display: inline-flex;
  justify-content: flex-end;
  column-gap: 30px;
  font-size: 14px;
  border: none;
  border-radius: 0 0 5px 5px;
}

.nav  .nav-links  a {
  font-family: "Raleway";
  display: inline-block;
  padding: 12px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav  .nav-links  a:hover {
  color: #00E5FF;
  font-weight: 600;
}

.nav  #nav-check {
  display: none;
}

@media (max-width: 720px) {
  .nav  .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: px;
  }
  .nav  .nav-btn  label {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 60px;
    height: 60px;
    padding: 17px;
    border: none;
  }
  .nav  .nav-btn  label:hover,.nav  #nav-check:checked ~ .nav-btn  label {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .nav  .nav-btn  label  span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #00E5FF;
    border-radius: 5px;
  }
  .nav  .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #00E5FF;
    backdrop-filter: blur(20px);
    transition: all 0.4s ease-out;
    overflow-y: hidden;
    top: 60px;
    left: 0px;
    z-index: 5;
  }
  .nav  .nav-links  a {
    color: #efefef;
    display: block;
    width: 100%;
    padding-left: 20px;
    opacity: 100%;
  }
  .nav  #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav  #nav-check:checked ~ .nav-links {
    height: 185px;
    overflow-y: hidden;
    background-color: #013a41;
    backdrop-filter: blur(20px);
    opacity: 90%;
  }
}


/* ============BODY============ */

.container .row {
  content: "";
  clear: both;
  display: flex;
  position: relative;
  flex-wrap: wrap-reverse;
  padding: 0 10px 0 10px ;

}

/* ============BODY INTRO============ */

.intro-tag  {
  display: flex;
  align-items: left;
}

.intro-tag p {
  padding: 5px 10px;
  margin: 0 10px 0 0;
  background-color: #00E5FF;
  color: #2d2e32;
  font-size: 13px;
  font-weight: 600;
  border-radius: 2.5px;
  align-items: center;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
}

.intro-tag p:hover {
  box-shadow: 0 0 10px 2px #00E5FF;
  font-weight: 800;
}

.intro-about {
  padding-top: 20px;
  color: white;
  box-sizing: border-box;
  font-family: "Source Code Pro", sans-serif;
}

.intro-about h1 {
  font-weight: 600;
  display: flex;
  flex-wrap: none;
}

.intro-about .bawah {
  color: #00E5FF;
  margin-top: -10px;
}

.intro-quote p {
  
  font-family: "Source Code Pro", sans-serif;
  color: #efefef;
  font-size: 12px;
}

.intro-project {
  display: flex;
  align-items: center;
  flex-wrap: none;
}

.intro-project h1 {
  margin-top: 10px;
  font-weight: 400;
  color: #00E5FF;
}


/* ============ANIMATOR============= */

.foto {
  position: relative;
  width: 100%;
  content: "";
  min-width: 300px;
}

/* ============HP============= */
@media only screen and (min-width: 300px) {

  .container .row {
    padding-top: 70px;
  }

  .intro {
    padding-top: 30px
  }

  .row .intro .intro-about p {
    font-size: 25px;
    color: #efefef;
  }

  .intro-project h1{
    font-size: 35px;
  }

  .intro-project p {
    padding: 20px 30px 0 7px;
    font-size: 11px;
    color: white;
  }

  /* ============ANIMATOR============= */
  .foto {
    height: 222px;
  }

.background-circle {
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  background: #28292d;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  z-index: 1;
  box-shadow: 0 0 20px #00E5FF;
}
.hoodie-guy {
  position :absolute;
  top: 52.5%; left:50%;
  transform: translate(-50%,-47.5%);
  background: url(assets/Rama.png);
  height: 200px;
  width: 200px;
  background-size: cover;
  z-index: 2;
}

.circle {
  position:absolute;
  top: 75%; left: 43%;
  transform: translate(-57%,-25%);
  position: relative;
  z-index: 3;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  animation: animateCircle 30s linear infinite;
}

@keyframes animateCircle {
  0% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
      translateY(-30px);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
      translateY(-30px);
  }
}

/* LINGKARAN ICON */
.circle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d2e32;
  box-shadow: 0px 0px 5px #00000080;
  border-radius: 50%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * calc(360deg / 9))) translateZ(140px);
}

/* ICON */
.circle span img {
  position: relative;
  top: 5.5px;
  left: 5.5px;
  height: 40px;
  object-fit: cover;
}

}

/* ============HP 425============= */
@media only screen and (min-width: 425px) {

  .background-circle {
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    background: #28292d;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    z-index: 1;
    box-shadow: 0 0 20px #00E5FF;
  }
  .hoodie-guy {
    position :absolute;
    top: 52.5%; left:50%;
    transform: translate(-50%,-47.5%);
    background: url(assets/Rama.png);
    height: 200px;
    width: 200px;
    background-size: cover;
    z-index: 2;
  }
  
  .circle {
    position:absolute;
    top: 75%; left:45%;
    transform: translate(-55%,-25%);
    z-index: 3;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    animation: animateCircle 30s linear infinite;
  }
  
  @keyframes animateCircle {
    0% {
      transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
        translateY(-30px);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
        translateY(-30px);
    }
  }
  
  /* LINGKARAN ICON */
  .circle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d2e32;
    box-shadow: 0px 0px 5px #00000080;
    border-radius: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * calc(360deg / 9))) translateZ(140px);
  }
  
  /* ICON */
  .circle span img {
    position: relative;
    top: 5.5px;
    left: 5.5px;
    height: 40px;
    object-fit: cover;
  }
    
}

/* ============TABLET============= */
@media only screen and (min-width: 768px) {

  .container .row {
    padding-top: 70px;
  }


  .row .intro .intro-about h1 {
    font-size: 23px;
  }

  .intro-project h1{
    font-size: 35px;
  }

  .intro-project p {
    font-size: 13px;
    color: #efefef;
  }

  .foto {
    height: auto;
  }

  .background-circle {
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    background: #28292d;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    z-index: 1;
    box-shadow: 0 0 20px #00E5FF;
  }
  .hoodie-guy {
    position:absolute;
    top: 52%; left:50%;
    transform: translate(-50%,-48%);
    background: url(assets/Rama.png);
    height: 220px;
    width: 220px;
    background-size: cover;
    z-index: 2;
  }
  
  .circle {
    position:absolute;
    top: 75%; left:45%;
    transform: translate(-55%,-25%);
    z-index: 3;
    width: 50px;
    height: 50px;
    transform-style: preserve-3d;
    animation: animateCircle 30s linear infinite;
  }
  
  @keyframes animateCircle {
    0% {
      transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
        translateY(-30px);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
        translateY(-30px);
    }
  }
  
  /* LINGKARAN ICON */
  .circle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2d2e32;
    box-shadow: 0px 0px 5px #00000080;
    border-radius: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * calc(360deg / 9))) translateZ(140px);
  }
  
  /* ICON */
  .circle span img {
    position: relative;
    top: 5.5px;
    left: 5.5px;
    height: 40px;
    object-fit: cover;
  }

}

/* ============LAPTOP============= */
@media only screen and (min-width: 1000px) {
  
  .container .row {
    padding-top: 100px;
  }

  .row .intro .intro-about h1 {
    font-size: 38px;
  }

  .intro-project h1{
    font-size: 60px;
  }

  .intro-project p {
    padding-top: 25px;
    font-size: 17px;
    color: #efefef;
  }

  .background-circle {
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    background: #28292d;
    border-radius: 50%;
    width: 310px;
    height: 310px;
    z-index: 1;
    box-shadow: 0 0 20px #00E5FF;
  }
  .hoodie-guy {
    position:absolute;
    top: 55%; left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background: url(assets/Rama.png);
    height: 300px;
    width: 300px;
    background-size: cover;
    z-index: 2;
  }
  
  .circle {
    position:absolute;
    top: 75%; left:45%;
    transform: translate(-55%,-25%);
    z-index: 3;
    width: 55px;
    height: 55px;
    transform-style: preserve-3d;
    animation: animateCircle 30s linear infinite;
  }
  
  @keyframes animateCircle {
    0% {
      transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
        translateY(-30px);
    }
    100% {
      transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
        translateY(-30px);
    }
  }
  
  /* LINGKARAN ICON */
  .circle span {
    position: absolute;
    background-color: #2d2e32;
    box-shadow: 0px 0px 5px #00000080;
    border-radius: 50%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * calc(360deg / 9))) translateZ(170px);
  }
  
  /* ICON */
  .circle span img {
    position: absolute;
    top: 5.5px;
    left: 5.5px;
    height: 45px;
    object-fit: cover;
  }
}



